.search-bar {
	width: 100%;
}

.search-bar__form {
	font-size: 36px;
}

.search-bar__copy {
	font-size: inherit;
	font-weight: 200;
}

.search-bar__input {
	font-size: inherit;
	font-weight: 400;
	display: inline-block;
	width: 256px;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0.5rem;
	margin-right: 1rem;
}

.search-bar__submit {
	display: inline-block;
	cursor: pointer;
}

.search-bar__submit:hover {
	color: red;
}

@media all and (min-width: 768px) {
	.search-bar {
		display: flex;
	}

	.search-bar__form {
		margin: 3rem auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.search-bar__input {
		display: inline-block;
		margin: 0 1rem;
	}
}
