.results-container {
	position: relative;
	display: flex;
	flex: 1;
}

.results-container__loading-container {
	display: flex;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.results-container__loading-wrapper {
	margin: auto;
}

.results-container__loading {
	animation: rotate 750ms infinite linear;
}

.results-container__no-results-message {
	margin: 2rem 0;
}
